body{
  background-color: cadetblue;
 

}

h1{
  color: aliceblue;
  text-align: center;
}
.intro{
  font-style: italic;
}
h2{
  color:aliceblue;
}
.intrests{
  color:aliceblue;
}
.education{
  color: aliceblue;
}
.summit{
  font-style:italic;
  color: aliceblue;
}
.WFP{
  color:blue;
}
.siderbar{
  width: 30%;
  float: right;
  background-color: yellow;
}
.column{
  width: 350px;
  float: left;
}
.box{
  
  border: 2px solid yellow;
  padding: 6px;
  background-color: aliceblue;
  
}
.sid{
  width: 350px;
  float: right;
}
