body{
  background-color: cadetblue;
 

}

h1{
  color: aliceblue;
  text-align: center;
}
.intro{
  font-style: italic;
}
h2{
  color:aliceblue;
}
.intrests{
  font-style: italic;
}
.education{
  color: aliceblue;
}
.summit{
  font-style:italic;
  color: aliceblue;
}
.WFP{
  color:blue;
}